* {
    margin: 0;
    background-color: #f7fafa;
}

header {
    background-color: rgb(161, 254, 254);
    position: sticky;
     z-index: 9999;
}

.head {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    z-index: 9999;

}

.first {

    color: rgb(39, 42, 90);
    font-size: 40px;
    margin-left: 20px;
    align-content: center;
}

.sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 20px;

}

.sec ul {
    list-style: none;
    display: flex;
    padding-right: 25px;
    gap: 40px;
}

.search {
    border-radius: 10px;
}

.number{
    height: 1rem;
    width: 1rem;
    background-color:  rgb(20, 225, 170);
    border-radius: 50%;
    position: relative;
    bottom: 0.8rem;
    right: 1.5rem;
    color: black;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
     opacity: 0; 
     animation: bounce 1.5s infinite ease-in-out;
}
@keyframes bounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-3px);
    }
}

.main {
    align-content: center;
    background-color: rgb(255, 217, 168);
    height: 400px;
    margin: 120px 70px 70px 70px;
    display: flex;
    box-shadow: 100px;
    padding: 40px;
    border-radius: 6px;
    transition: transform 0.5s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 1;


}

/* .main:hover {
    transform:  scale(1.1, 1.1);
    z-index: 2;
    /* moves right 50px and down 20px 
} */

.main1 {
    height: 0px;
    width: 60%;
    display: flex;
    gap: 10px;
    display: flex;
    z-index: 1;

}

.main1 img {
    height: 270px;
    width: 270px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    margin-top: 40px;
    z-index: 1;


}

.img:nth-child(1) {
    top: 0px;
    z-index: 1;
}

.img:nth-child(2) {
    top: 0px;
    right: 80px;
    z-index: 1;

}

.img:nth-child(3) {
    top: 0px;
    right: 150px;
    z-index: 1;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 320px 320px 320px 320px;
    row-gap: 30px;
    padding:3rem;
     margin-left: 2rem;


}

.product {
    width: 250px;
    height: 300px;
    background-color: rgb(247, 247, 247);
    margin: 5px;
    border-radius: 5px;
    transition: transform 0.5s;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.3);


}

.product:hover {
    transform:scale(1.2,1.2);

  
}

.product img {
    object-fit: fill;
    background-size: cover;
    width: 244px;
    height: 150px;
    border-radius: 5px;
    margin: 3px;

}

footer ul {
    padding-top: 70px;
    background-color: rgb(19, 26, 34);

}

footer ul li {
    list-style: none;
    row-gap: 10px;
    padding-left: 200px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
    background-color: rgb(19, 26, 34);
    color: rgb(237, 241, 241);
}

.foot {

    margin-top: 20px;
    height: 350px;
    background-color: rgb(19, 26, 34);
}

.style {
    width: 40%;
    display: inline-block;
    margin-top: 0px;
    align-content: center;
    font-size: 4rem;
    margin-left: 7rem;
    white-space: nowrap;
    color: rgb(245, 255, 255);
    background-color: rgb(255, 217, 168);
    margin-bottom: 3rem;
}

.text {
    background-color: rgb(247, 247, 247);
    font-family: sans-serif;

}

.click {
    background-color: rgb(117, 255, 218);
    border-radius: 25px;
    height: 2.3rem;
    width: 40%;
    display: inline-block;
    align-content: center;
    margin-left: 18px;
    margin-top: 0.5rem;
}

.textt {
    padding-left: 5px;
    height: 92px;
    overflow: auto;
    scrollbar-width: none;
}

.Explo button {
    background-color: rgb(234, 234, 57);
    border-radius: 25px;
    height: 60px;
    width: 200px;
    content: center;
    text-align: center;
    margin-bottom: 10px;
}

.Explo {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    background-color: rgb(19, 26, 34);
}

.icon ul {
    display: flex;
    background-color: rgb(19, 26, 34);
    justify-items: center;
    margin-left: 400px;

}

.icon ul li {
    gap: 30px;
    margin-left: 10px;
    padding-left: 20px;
}

.icon {
    background-color: rgb(19, 26, 34);
}

.icon ul li img {
    border: none;
    border-radius: 35%
}
